<%# ゲームタイトル詳細ページ(ユーザ) %>
<div class = "container">
  <h1>ゲームタイトル 詳細ページ</h1>
  <div class = "row">
    <div class = "col-4">
      <%# ユーザプロフィールの表示 %>
      <%= render 'user/users/profile', user: @user %>
      <%# リンクリストの表示 %>
      <%= render 'user/users/link_list' %>
    </div>

    <div class = "col-8">
  	  <div class = "row">
        <div class = "col-3">
  	      <%= attachment_image_tag(@game_title, :game_image, :size => "120x140",
  	        format: 'jpeg', class: "img-rounded", fallback: "no_image.jpg", size:"120x140") %>
  	    </div>
        <%# 評価の平均表示 %>
        <div class = "col-9">
          <table>
            <tr>
              <td align = "right">グラフィック：</td>
              <td><%= @game_title.reviews.average(:graphic) %></td>
            </tr>
            <tr>
              <td align = "right">サウンド：</td>
              <td><%= @game_title.reviews.average(:sound) %></td>
            </tr>
            <tr>
              <td align = "right">ストーリー：</td>
              <td><%= @game_title.reviews.average(:story)%></td>
            </tr>
            <tr>
              <td align = "right">ボリューム：</td>
              <td><%= @game_title.reviews.average(:volume)%></td>
            <tr>
              <td align = "right">おすすめ度：</td>
              <td><%= @game_title.reviews.average(:recommended)%></td>
            </tr>
          </table>
        </div>
  	    <div class = "col-9">
  	      <p>ゲームタイトル名<br><%= @game_title.name %></p>
  	      <p>ジャンル<br><%= @game_title.genre.name %></p>
  	      <p>ゲーム紹介文<br><%= @game_title.introduction %></p>
        </div>
      </div>
      <%# レビュー一覧表示 %>
      <%= render 'user/reviews/index' %>
      <%# レビュー入力フォームの表示 %>
      <%= render 'user/reviews/form' %>
  	</div>
  </div>
</div>
