<%# 登録ゲームタイトル一覧表示 %>
<div class = "container">
  <h1>ゲームタイトル一覧</h1>
  <div class = "row">
  	<div class = "col-12">
      <div class = "table-responsive">
  	  	<table class = "table thead-light table-striped table-bordered text-nowrap">
  	  	  <thread>
  	  	  	<tr>
  	  	  	  <th>ゲーム画像</th>
  	  	  	  <th>ゲームタイトル名</th>
  	  	  	  <th>ジャンル</th>
  	  	  	  <th></th>
  	  	    </tr>
  	  	  </thread>
  	  	  <tbody>
  	  	    <% @game_titles.each do |game_title| %>
  	  	      <tr>
  	  	      	<td align = "center">
                  <%= attachment_image_tag(game_title, :game_image, :size => "40x40",
                    format: 'jpeg', class: "img-rounded", fallback: "no_image.jpg",size:"40x40") %>
                </td>
  	  	        <td><%= game_title.name %></td>
  	  	        <% if game_title.genre.is_valid == true %>
  	  	          <td><%= game_title.genre.name %></td>
  	  	        <% elsif genre.is_valid == false %>
  	  	      	  <td>無効</td>
  	  	        <% end %>
  	  	      	<td align = "center">
                  <%= link_to '詳細', admin_game_title_path(game_title), class: "btn btn-primary" %>&emsp;
  	  	      	  <%= link_to '編集', edit_admin_game_title_path(game_title), class: "btn btn-success" %>
                </td>
  	  	      </tr>
  	  	    <% end %>
  	  	  </tbody>
  	    </table>
  	  </div>
    </div>
    <div class = "text-center">
  	  <%= paginate(@game_titles) %>
    </div>
  </div>

  <div class = "row">
    <%= render 'admin/homes/link_list' %>
    <%# ゲームタイトル登録フォーム %>
    <%= render 'newform', game_title: @game_title %>
  </div>

  <div class = "row">
    <div class = "button" style = "text-align: center">
      <%= link_to '管理者トップに戻る', admin_top_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>
