<!-- リンクリストの表示 -->
<div class = "list-group" style = "max-width: 400px;">
  <% if admin_signed_in? || user_signed_in? %>
    <%= link_to 'トップページ', root_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'GameImpressionsとは', homes_about_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'ゲームタイトル一覧', user_game_titles_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'ジャンル一覧', user_genres_path, class: "list-group-item list-group-item-action" %>
    <%= link_to '投稿一覧', user_impressions_path, class: "list-group-item list-group-item-action" %>
    <%= link_to 'ユーザ一覧', user_users_path, class: "list-group-item list-group-item-action" %>
    <% if user_signed_in? %>
  	  <%= link_to 'マイページ', user_user_path(current_user), class: "list-group-item list-group-item-action" %>
    <% end %>
  <% else %>
    <%= link_to 'GameImpressionsとは', homes_about_path, class: "list-group-item list-group-item-action" %>
  	<%= link_to 'ゲームタイトル一覧', user_game_titles_path, class: "list-group-item list-group-item-action" %>
  	<%= link_to 'ジャンル一覧', user_genres_path, class: "list-group-item list-group-item-action" %>
  	<%= link_to '投稿一覧', user_impressions_path, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
