<!-- ログインユーザ情報の表示（プロフィール） -->
<div class = "profile">
  <table>
    <tr>
      <%= attachment_image_tag(@user, :icon_image, :size => "100x100",
  	  format: 'jpeg', class: "img-rounded", fallback: "no_image.jpg", size:"100x100") %>
  	</tr>
  	<tr>
  	  <th>ニックネーム</th>
  	  <th><%= user.nickname %></th>
  	</tr>
  	<tr>
  	  <th>Lv.<%= user.level %></th>
  	</tr>
  	<tr>
  	  <th><%= user.introduction %></th>
  	</tr>
  </table>

  <% if user == current_user %>
    <div class = "row">
  	  <%= link_to '', edit_user_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
  	</div>
  <% end %>
</div>
