<%# ユーザ情報（プロフィールの表示(ユーザ) %>
<% if user_signed_in? %>
  <% if @user == current_user %>
    <h2>Your Profile</h2>
  <% else %>
    <h2>User Profile</h2>
  <% end %>

  <div class = "profile">
    <table class = "table table-bordered" style = "max-width: 400px; margin: 10px;">
      <tbody>
      	<tr>
      	  <td colspan = "2" align = center>
            <%= attachment_image_tag(user, :icon_image, :size => "100x100", format: 'jpeg',
            class: "img-rounded", fallback: "no_image.jpg", size:"100x100") %>
  	      </td>
  	    </tr>

  	    <tr>
  	      <td align = center>ニックネーム</td>
  	      <td><%= user.nickname %></td>
  	    </tr>

  	    <tr>
  	      <td align = center>Rank</td>
  	      <td>Lv.<%= user.level %></td>
  	    </tr>

  	    <tr>
  	      <td colspan = "2" align = center>introduction</td>
  	    </tr>

  	    <tr>
  	      <td colspan = "2" align = center><%= user.introduction %></td>
  	    </tr>

        <% if user == current_user %>
          <tr>
            <td colspan = "2" align = center>
              <%= link_to 'プロフィール編集', edit_user_user_path(current_user), class: "btn btn-primary" %>
            </td>
          </tr>

          <tr>
            <td colspan = "2" align = center>
              <%= link_to '新規投稿の作成', new_user_impression_path, class: "btn btn-info" %>
            </td>
          </tr>
        <% end %>
  	 </tbody>
  	</table>
  </div>
<% end %>
