<div class = "container">
  <div class = "row">
    <div class = "col-4">
      <%# ユーザプロフィールの表示 %>
      <%= render 'user/users/profile', user: @user %>
      <%# リンクリストの表示 %>
      <%= render 'user/users/link_list' %>
    </div>

    <div class = "col-8">
      <h1>ユーザ一覧</h1>
      <div class = "table-responsive">
  	  	<table class = "table thead-light table-striped table-bordered text-nowrap">
  	  	  <thread>
  	  	  	<tr>
              <th>ユーザアイコン</th>
  	  	  	  <th>ニックネーム</th>
              <th>Rank</th>
  	  	    </tr>
  	  	  </thread>
  	  	  <tbody>
  	  	    <% @users.each do |user| %>
  	  	      <tr>
                <td>
                  <%= attachment_image_tag(user, :icon_image, :size => "40x40", format: 'jpeg',
                  class: "img-rounded", fallback: "no_image.jpg", size:"40x40") %>
                </td>
  	  	        <td><%= link_to user.nickname, user_user_path(user), class: "btn-link" %></td>
                <td><%= user.level %></td>
  	  	      </tr>
  	  	    <% end %>
  	  	  </tbody>
  	    </table>

        <div class = "text-center">
          <%= paginate(@users) %>
        </div>
  	  </div>
    </div>
  </div>
</div>
