<div class="container">
  <div class="row">
    <!-- ユーザプロフィールの表示 -->
    <div class="col-xs-3">
      <% if @user == current_user %>
        <h2>Your Profile</h2>
      <% else %>
        <h2>User Profile</h2>
      <% end %>
	    <%= render 'users/profile', user: @user %>
    </div>
    <!-- ----------------- -->

    <!-- Impressions 一覧の表示 -->
    <div class = "col col-xs-6">
      <h2>Impressions</h2>
      <table>
      	<thread>
      	  <tr>
      	  	<th>タイトル</th>
      	  	<th>ゲームタイトル</th>
      	  	<th>いいね</th>
      	  	<th>コメント</th>
      	  </tr>
      	</thread>
      </table>
    </div>
    <!-- Impressions 一覧表示 ここまで -->

    <div class = "col col-xs-3">
      <div class = "list-group" style = "max-width: 400px;">
      	  <%= link_to 'トップページ', root_path, class: "list-group-item list-group-item-action" %>
  	      <%= link_to 'GameImpressionsとは', homes_about_path, class: "list-group-item list-group-item-action" %>
  	      <%= link_to 'ゲームタイトル一覧', root_path, class: "list-group-item list-group-item-action" %>
  	      <%= link_to 'ジャンル一覧', root_path, class: "list-group-item list-group-item-action" %>
  	      <%= link_to '投稿一覧', root_path, class: "list-group-item list-group-item-action" %>
  	      <% if user_signed_in? %>
  	        <%= link_to 'マイページ', user_user_path(current_user), class: "list-group-item list-group-item-action" %>
  	      <% end %>
      </div>
  </div>
</div>
