<%# 投稿(Impression)詳細表示(管理者) %>
<div class = "container">
  <div class = "row">
    <div class = "col-4">
      <%# リンクリストの表示 %>
      <%= render 'admin/homes/link_list' %>
    </div>
    <div class = "col-8">
      <%# Impression 詳細表示 %>
      <div class = "row">
        <div class = "col-8">
          <h2>Impression detail</h2>
          <%= attachment_image_tag(@impression, :image, :size => "500x300",
          format: 'jpeg', class: "img-rounded", fallback: "no_image.jpg", size:"500x300") %>
          <h3><%= @impression.title %></h3>
          <p>ゲームタイトル：<%= @impression.game_title.name %></p>
          <h4>impression</h4>
          <p><%= @impression.body %></p>
          <%= link_to "削除する", admin_impression_path(@impression),
            method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
        </div>
      </div>

      <%# コメント一覧表示 %>
      <div class = "comment_<%= @impression.id %>">
        <%= render 'user/comments/index' %>
      </div>
      <%# コメント新規作成フォーム %>
      <%= render 'user/comments/form' %>
    </div>
  </div>
</div>
