<!DOCTYPE html>
<html>
  <head>
    <title>GameImpressions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "padding-top:4.5rem; padding-bottom:4.5rem;">
    <!-- ヘッダーの記述 -->
    <header>
      <!-- 最上部に固定されたナビゲーションバーの設定 -->
      <nav class = "navbar navbar-expand navbar-dark bg-dark fixed-top justify-content-between">
        <% if admin_signed_in? %>
          <%= link_to 'Game Impressions', admin_top_path, class: "navbar-brand" %>
        <% else %>
          <%= link_to 'Game Impressions', root_path, class: "navbar-brand" %>
        <% end %>
          <!-- 管理者 -->
          <% if admin_signed_in? %>
            <span class = "navbar-text">
              ようこそ、【管理者】<%= current_admin.nickname %>さん
            </span>
          <!-- ログインユーザ -->
          <% elsif user_signed_in? %>
            <span class = "navbar-text">
              ようこそ、<%= current_user.nickname %>さん
            </span>
          <!-- ゲストユーザ -->
          <% else %>
            <span class = "navbar-text">
              ようこそ、ゲストさん
            </span>
          <% end %>

        <ul class = "navbar-nav">
          <!-- 管理者 -->
          <% if admin_signed_in? %>
            <li class = "nav-item">
              <%= link_to 'about', homes_about_path, class: "nav-link" %>
            </li>
            <li class = "nav-item">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
          <!-- ログインユーザ -->
          <% elsif user_signed_in? %>
           <li class = "nav-item">
              <%= link_to 'about', homes_about_path, class: "nav-link" %>
            </li>
            <li class = "nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <!-- ゲストユーザ -->
          <% else %>
            <li class = "nav-item">
              <%= link_to 'about', homes_about_path, class: "nav-link" %>
            </li>
            <li class = "nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
            </li>
            <li class = "nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <!-- -------- -->
        </ul>
      </nav>
    </header>
    <!-- ヘッダーの記述 ここまで -->

      <%= yield %>

    <!-- フッターの記述 -->
    <footer>
      <!-- 最下部に固定されたナビゲーションバーの設定 -->
      <nav class = "navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-center">
          <span class = "navbar-text ">～すばらしいゲーム体験を共有しよう～</span>
      </nav>
    </footer>
    <!-- フッターの記述 ここまで -->
  </body>
</html>
