<!DOCTYPE html>
<html>
  <head>
    <title>GameImpressions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "padding-top:4.5rem; padding-bottom:4.5rem;">
    <%# ヘッダーの表示 %>
    <%= render 'layouts/header' %>
    <%# フラッシュメッセージの表示 %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%# フッターの表示 %>
    <%= render 'layouts/footer' %>
  </body>
</html>
